*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    min-height: 100px;
    background-color: antiquewhite;
}
.nav-first{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-description, ul, a{
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.nav-title, h1{
    font-size: 2rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}
.but{
    display: flex;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    gap: 7px;
    padding: 10px;
    
}
.but-1{
    border-radius: 48px;
    background-color:#ff92b8;
    color: white;
    font-size: 17px;
}
.but-1:hover{
    color: black;
}
.but-2:hover{
    color: black;
}
.but-2{
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    font-size: 17px;
}
.title-description{
    font-size: 2rem;
    background-image: url("./images/Group\ 14.png");
    height: 500px;
    width: 900px;
    padding-left: 400px;
    padding-top: 250px;
    margin-left: -150px;
    background-size: cover;
}
.titel{
    font-size: 2.5rem;
}
.description{
    font-size: 1.5rem;
}
.third-pic{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-left: 10%;
    padding-top: 50px;
    /* overflow: visible; */
}
.one{
    position: relative;
}
.overlay-1{
    position: absolute;
    left: 210px;
    top: 1033px;
    opacity: 0;
    height: 205px;
    padding-top: 10%;
    /* border: 1px solid white; */
    width: 340px;
    font-size: 2rem;
    color: black
}
.overlay-1:hover{
    opacity: 100%;
}
.overlay-2{
    position: absolute;
    left: 610px;
    top: 1033px;
    opacity: 0;
    height: 205px;
    padding-top: 10%;
    /* border: 1px solid white; */
    width: 340px;
    font-size:2rem;
    border-radius:5px;
    color: black
}
.overlay-2:hover{
    opacity: 100%;
}
.overlay-3{
    position: absolute;
    left: 950px;
    top: 1033px;
    opacity: 0;
    height: 205px;
    padding-top: 10%;
    /* border: 1px solid white; */
    width: 340px;
    font-size:2rem;
    border-radius:5px;
    color:  black
}
.overlay-3:hover{
    opacity: 100%;
}
.overlay-4{
    position: absolute;
    left: 1320px;
    top: 1033px;
    opacity: 0;
    height: 205px;
    padding-top: 10%;
    /* border: 1px solid white; */
    width: 340px;
    font-size:2rem;
    border-radius:5px;
    color: black
}
.overlay-4:hover{
    opacity: 100%;
}
/* .overlay-1, img{
    height: 50px;
} */
.third-container{
    text-align: center;
    padding-top: 50px;
}

.third-titel{
    font-size: 2rem;
}
.third-description{
    font-size: 1.5rem;
}
.pic-1 img:hover{
    opacity: 0.2;
}

.pic-2 img:hover {
    opacity: 0.2;
   
    
}
.pic-3 img:hover {
    opacity: 0.2;
    
}
.pic-4 img:hover {
    opacity: 0.2;
    
        
}
.fouth-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.fouth-text{
    /* width: 50%; */
    text-align: right;
}
.fourth-pic-1{
    position: relative;
    overflow: visible;
    top: 50px;
}
.fourth-pic-2{
    position: relative;
    bottom: 200px;
    right: 100px;
}
.fourth-titel{
    font-size: 2rem;
}
.fouth-description{
    font-size: 1.5rem;
}
.fouth-text{
    padding-bottom: 50px;
}
.button-one, button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    width: 220px;
    border: none;
    
}

.fifth-container ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 150px;
    margin-top: -100px;
}
.button-two{
    margin-left: 100px;
    border: none;
    border-radius: 30px;
}

.button-one:hover{
    border: 2px solid #ff92b8;
    color: #ff92b8;
}

.button-two:hover{
    border: 2px solid#ff92b8;
}
button:hover{
    color: #ff92b8;
    cursor: pointer;
}

button{
    padding: 7px;
}
.footer-titel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.footer-container{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: black;
    color: white;
    
    
}
.footer-link-list, .footer-icon-2, ul, li, a{
    justify-content: center;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    
}
.footer-icon img{
    background-color: white;
    
}
@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        text-align: center;
    }
    .nav-description, ul, a{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .third-container{
        flex-direction: column;
    }
    .third-pic{
        flex-direction: column;

    }
    .fouth-container{
        flex-direction: column;
        
    }
        .fouth-pic-container{
        padding-left: 70px;
    }
    .fifth-container ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
    }
    .fifth-container ul li{
        margin-left: -10px;     
    }
    .fifth-container{
        padding-right: 150px;
    }
  
    body{
        width: 750px;
    }
    .footer-link-list, ul, li, a{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 30px;
        
    }
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        margin-left: 100px;
    }
}
@media screen and (min-width:577px) and (max-width:900px) {
    .fifth-container ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
    }
    .fifth-container ul li{
        margin-left: -10px;     
    }
    .fifth-container{
        padding-right: 150px;
    }
  
    .container{
        flex-direction: column;
    }
    .third-container{
        flex-direction: column;
    }
    .third-pic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .fouth-container{
        flex-direction: column;
        
    }
}